# Data directories
data/
outputs/
dataset*/
output/
*.png
!docs/images/*.png
*.jpg
!docs/images/*.jpg
*.csv

# Model checkpoints
*.pth
!models/regression/checkpoints_augmented/best_model.pth
*.pt
checkpoints*/
!models/regression/checkpoints_augmented/

# Python
__pycache__/
*.pyc
*.pyo
venv/
.DS_Store
